<div class="row">
	<div class="col-xs-12">
		<div class="center">
		<span style="font-size: 35px; padding-top: 8px; padding-bottom: 8px; font-weight: bold"> Block Information </span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-8">
		<div class="row">
			<div class="widget-box widget-color-dark center">
				<div class="widget-header">
					<div class="widget-title">Path</div>
				</div>

				<div class="widget-body">
					<div class="widget-main padding-8">
						<div class="row">
							<div class="col-xs-12">
								<span id="src-range" style="font-size: 20px;float: left;"></span>
								<span id="dest-range" style="font-size: 20px;float: right;"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div id="path-data"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="widget-box widget-color-dark center">
			<div class="widget-header">
				<div class="widget-title">Anomaly</div>
			</div>

			<div class="widget-body">
				<div class="widget-main padding-8">
					<ul id="anomaly-tree"></ul>
				</div>
			</div>
		</div>
	</div>
</div>