<div id="firewall-doubleclick-modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button id="modal-close-button" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h1 id="modal-title" class="center bigger-250 stronger grey no-margin"></h1>
			</div>

			<div class="modal-body" style="height: 500px">
				
				<div class="tabbable tabs-left">
					<ul id="acl-tabs" class="nav nav-tabs"> </ul>
					<div id="acl-table" class="tab-content"> </div>
				</div>

			</div>

			<div class="modal-footer">
				<div class="row">

					<div class="col-xs-4">
						<div class="btn-group pull-left">
							<div class="row">
								<div class="col-xs-12">
									<button id="import-acl-button" class="btn btn-sm">
										<i class="ace-icon fa fa-sign-in"></i>
										Import
									</button>
									<button id="export-acl-button" class="btn btn-sm">
										<i class="ace-icon fa fa-sign-out"></i>
										Export
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-4 center">
						<div class="btn-group">
							<div class="row">
								<div class="col-xs-12">
									<!-- <button id="add-rule-button" class="btn btn-sm" > -->
									<button id="add-rule-button" class="btn btn-sm">
										<i class="ace-icon fa fa-plus"></i>
										Add Rule
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-4">
						<div class="btn-group pull-right">
							<div class="row">
								<div class="col-xs-12">
									<button id="modal-confirm-button" class="btn btn-sm btn-success">
										<i class="ace-icon fa fa-check"></i>
										Confirm
									</button>
									<button id="modal-close-button" class="btn btn-sm btn-danger" data-dismiss="modal">
										<i class="ace-icon fa fa-times"></i>
										Close
									</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			
			
		</div><!-- /.modal-content -->
	</div>
</div>