<div id="network-doubleclick-modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button id="modal-close-button" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h1 class="center bigger-200 lighter grey no-margin">Network</h1>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-xs-2 control-label no-padding-right">Network address:&#160;&#160;</label>
								<input type="text" id="addr1st-spinner">
								<label class="control-label no-padding-right">&#160;.&#160;</label>
								<input type="text" id="addr2nd-spinner">
								<label class="control-label no-padding-right">&#160;.&#160;</label>
								<input type="text" id="addr3rd-spinner">
								<label class="control-label no-padding-right">&#160;.&#160;</label>
								<input type="text" id="addr4th-spinner">
								<label class="control-label no-padding-right">&#160;/&#160;</label>
								<input type="text" id="mask-spinner">
							</div>
						</form>
					</div>
				</div>
			</div><!-- ./modal-body -->

			<div class="modal-footer">
				<div class="btn-group">
					<button id="modal-close-button" class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
						<i class="ace-icon fa fa-times"></i>
						Close
					</button>
					
					<button id="modal-confirm-button" class="btn btn-sm btn-success">
						<i class="ace-icon fa fa-check"></i>
						Confirm
					</button>
				</div>
			</div>

		</div><!-- /.modal-content -->
	</div>
</div>